# Backend
backend/target/
backend/.venv/
backend/__pycache__/
backend/*.pyc
backend/.pytest_cache/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/**/*.tsbuildinfo
frontend/**/*.d.ts
frontend/src/**/*.js
frontend/src/**/*.vue.js
frontend/vite.config.js

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
